<div class="page page-center">
  <div class="container container-tight py-4">
    <div class="card card-md">
      <div class="card-body">
        <h2 class="h2 text-center mb-4"><%= title %></h2>
        <%= yield %>
      </div>
    </div>
    <% if local_assigns[:links] %>
      <div class="text-center text-secondary mt-3">
        <%= links %>
      </div>
    <% end %>
  </div>
</div>